@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
    height: 6rem;
    position: relative; 
    z-index: 1; 
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
}
#navigation_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
}
#navigation_links a {
    margin-right: 2rem;
    color: black;
}
#navigation_links a:hover {
    color: rgb(0, 149, 0);
    transition: color 0.3s ease;
}
.phone_number {
    pointer-events: none;
}
.brand_name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.brand_name img {
    display: block;
    max-height: 100%; 
    height: 60px; 
    object-fit: contain; 
}
.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.divider {
    margin-right: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem;
}
.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: background-color 0.3s ease;
}
.home_link {
    color: green !important;
}

@media (max-width: 1024px) {
    .burger-menu{
        display: flex;
    }
    .divider {
        display: none;
    }
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
        margin: 0;
        position: relative;
    }
    #navigation_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 500;
        background-color: white;
        position: absolute; 
        top: 4rem; 
        left: 0; 
        width: 100%; 
        height: 100vh;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-10px); 
        transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease; 
        z-index: 3000; 
        padding-top: 4rem;
    }
    #navigation_links a {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    #navbar.active #navigation_links {
        opacity: 1;
        max-height: 100vh; 
    }
    .burger-menu.active div {
        background-color: green;
    }
    .brand_name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    body.menu-active {
        overflow: hidden; /* Désactiver le défilement */
    }
}
@media (min-width: 1024px) {
    .brand_name {
        position: static;
        transform: none;
    }
    body.menu-active {
        overflow: auto;
    }
}

/* Jumbotron */
.jumbotron {
    background-image: url(./assets/images/jumbotron.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.jumbotron .content {
    position: relative;
    z-index: 0;
}
.content {
    margin-left: 3rem;
    width: 75%;
}
.jumbotron p {
    font-weight: 600;
    font-size: 4rem;
    color: white;
}
.jumbotron button {
    margin-top: 4rem;
    padding: 0.8rem 1.6rem;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 149, 0, 0.714);
    border-radius: 5px;
    border: none;
}
.jumbotron button:hover {
    background-color: rgba(0, 149, 0, 0.844);
}

@media (max-width: 1024px) {
    .jumbotron {
        height: 50vh;
    }
    .content {
        margin-left: 2rem;
        width: 85%;
    }
    .jumbotron p {
        font-size: 3rem;
    }
    .jumbotron button {
        font-size: 16px;
        margin-top: 2rem;
        padding: 0.6rem 1.2rem;
    }
}
@media (max-width: 768px) {
    .jumbotron {
        height: 50vh;
        display: flex;
        justify-content: center;
        background-image: url(./assets/images/jumbotron.webp);
        background-size: cover; 
        background-position: center center; 
        background-attachment: scroll; 
        width: 100%;
        background-repeat: no-repeat; 
    }
    .content {
        margin-left: 0rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .jumbotron p {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        display: flex;
        text-align: center;
    }
    .jumbotron button {
        font-size: 14px;
        padding: 0.6rem;
        width: 100%;
        margin-top: 0rem;
    }
}

/* About Section */
.about_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 4rem auto;
}
.about_image {
    flex: 1.2;
    background-image: url(./assets/images/cuisine.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    border-radius: 10px;
}
.about_text {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.about_text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about_text p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.3rem;
}
.about_text a {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 10px;
    width: 11rem;
    text-align: center;
    transition: background-color 0.6s ease;
}
.about_text a:hover {
    background-color: rgba(0, 149, 0, 0.714);
}

@media (max-width: 1024px) {
    .about_section {
        flex-direction: column-reverse;
        text-align: center;
        margin: 3rem auto;
    }
    .about_image {
        flex: none;
        width: 100%;
        height: 50vh; 
        background-attachment: scroll; 
    }
    .about_text {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .about_text h1 {
        font-size: 1.8rem;
    }
    .about_text p {
        margin: 1.5rem 0;
        font-size: 1rem;
    }
    .about_text a {
        padding: 0.8rem 1.5rem;
        width: auto;
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .about_section {
        margin: 2rem auto;
    }
    .about_image {
        height: 40vh;
    }
    .about_text h1 {
        font-size: 1.5rem;
    }
    .about_text p {
        font-size: 0.9rem;
    }
    .about_text a {
        padding: 0.7rem 1.2rem;
        background-color: green;
        font-size: 0.9rem;
    }
}
@media (max-width: 480px) {
    .about_section {
        margin: 1.5rem auto;
    }
    .about_image {
        height: 30vh;
    }
    .about_text h1 {
        font-size: 1.3rem;
    }
    .about_text p {
        font-size: 0.8rem;
    }
    .about_text a {
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
    }
}

/* Section Choice */
.section_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 6rem;
    padding: 0 1rem;
}
.section_choice h1 {
    margin-bottom: 2rem;
    text-align: center;
}
.choice_container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: 2rem auto;
    flex-wrap: wrap;
}
.choice_box {
    flex: 1;
    margin: 1rem;
    min-width: 250px; 
    max-width: 300px;
    padding: 0.5rem;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
}
.choice_description h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #A26028;
}

@media (max-width: 1024px) {
    .choice_container {
        flex-direction: column;
        align-items: center;
    }
    .choice_box {
        width: 80%;
        margin: 1rem auto;
    }
}
@media (max-width: 768px) {
    .choice_box {
        width: 90%;
        margin: 1rem auto;
    }
    .choice_description h4 {
        font-size: 1.1rem;
    }
    .choice_description p {
        font-size: 0.95rem;
    }
}
@media (max-width: 480px) {
    .choice_box {
        width: 95%;
    }
    .choice_description h4 {
        font-size: 1rem;
    }
    .choice_description p {
        font-size: 0.9rem;
    }
}

/* Section clef en main */
.clef_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 4rem auto;
}

.clef_text {
    flex: 1;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.clef_text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.clef_text p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.3rem;
}
.clef_text a {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    width: 11rem;
    text-align: center;
    transition: background-color 0.6s ease;
}
.clef_text a:hover {
    background-color: rgba(0, 149, 0, 0.714);
}

@media (max-width: 1024px) {
    .clef_section {
        flex-direction: column-reverse;
        text-align: center;
        margin: 3rem auto;
    }
    .clef_text {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .clef_text h1 {
        font-size: 1.8rem;
    }
    .clef_text p {
        margin: 1.5rem 0;
        font-size: 1rem;
    }
    .clef_text a {
        padding: 0.8rem 1.5rem;
        width: auto;
        font-size: 1rem;
    }
    #comparison {
        flex: none;
        width: 100%;
        height: 50vh; 
    }
}
@media (max-width: 768px) {
    .clef_section {
        margin: 2rem auto;
    }
    .clef_text h1 {
        font-size: 1.5rem;
    }
    .clef_text p {
        font-size: 0.9rem;
    }
    .clef_text a {
        padding: 0.7rem 1.2rem;
        background-color: green;
        font-size: 0.9rem;
    }
}
@media (max-width: 480px) {
    .clef_section {
        margin: 1.5rem auto;
    }
    .clef_text h1 {
        font-size: 1.3rem;
    }
    .clef_text p {
        font-size: 0.8rem;
    }
    .clef_text a {
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
    }
}

/* Section Prestations */
.section_benefit {
    text-align: center;
    margin-top: 2rem;
    padding: 6rem 0;
    background-color: #f5f5f5;
}
.section_benefit h1 {
    margin-bottom: 5rem;
}
.benefit-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
}
.benefit-item {
    position: relative;
    flex: 1;
    height: 70vh;
    min-width: 25vh; 
}
.benefit-image {
    height: 100%;
    overflow: hidden;
}
.benefit-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.benefit-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.benefit-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    pointer-events: none;
    z-index: 2;
}
.view-all {
    display: inline-block;
    background-color: black;
    color: white;
    margin-top: 3rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    width: 13rem;
    text-align: center;
    transition: background-color 0.6s ease;
}
.view-all:hover {
    background-color: rgba(0, 149, 0, 0.714);
}

@media (max-width: 1024px) {
    .benefit-items {
        flex-direction: column;
        gap: 10px;
    }
    .benefit-image {
        height: 40vh;
    }
}
@media (max-width: 768px) {
    .benefit-image {
        height: 40vh;
    }
    .view-all{
        background-color: green;
    }
}
@media (max-width: 480px) {
    .benefit-item {
        height: 120px;
    }
    .benefit-text {
        font-size: 1rem;
    }
}

/* Section avis */
.section_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
.section_view h1 {
    margin-bottom: 2rem;
}
.view_container {
    display: flex;
    text-align: center;    
    width: 90%;
    margin : 2rem auto;
    gap: 20px;
}
.view_box {
    width: 40%;
    display: flex;
    justify-content: center;
}
.view_image {
    width: 100%;
    height: 150px;
}
.view_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.view_description {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vh;
}
.view_description p {
    margin: 1rem 0;
}
.view_description h4 {
    color: rgb(79, 175, 0);
}

@media (max-width: 1024px) {
    .view_container {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        gap: 40px;
    }
    .view_box {
        width: 100%;
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .view_box {
        width: 100%;
        max-width: 300px;
    }
    .view_description p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .section_view h1 {
        font-size: 1.2rem; 
    }
    .view_container {
        gap: 5px; 
    }
    .view_box {
        width: 100%;
        max-width: 280px;
    }
    .view_description p {
        font-size: 0.85rem;
    }
    .view_description h4 {
        font-size: 1rem; 
    }
}

/* Footer */
/* Top left */
.top_footer {
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 4rem;
}
.description_footer {
    display: flex;
    flex-direction: column;
}
.description_footer > p{
    margin-left :30px;
    margin-bottom: 15px;
}
.footer_title, .footer_number, .footer_adress{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.footer_title {
    font-weight: bold;
    display: flex;
    font-size: 1.2rem;
}
.footer_title img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.footer_number img, .footer_adress img {
    min-width: 20px;
    height: 20px;
    margin-right: 2px;
}
.footer_mentions {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.footer_mentions li {
    list-style: none;
}
.footer_mentions a{
    color: white; 
    text-decoration: none; 
    list-style: none;
    margin: 1px 0;
}
.footer_mentions a:hover {
    color: green;
    transition: color 0.4s ease;
}

/* Bot */
.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding : 10px 4.4rem;
}
#map {
    height: 28vh; 
    width: 60vh;  
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .top_footer, .bot_footer {
        flex-direction: column; 
        padding: 1rem;
    }
    .description_footer{
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 0.8rem;
    }
    .description_footer > p{
        margin-left : 0px;
    }
    #map {
        width: 100%; 
    }
    .footer_mentions {
        align-items: center;
        margin-left: 0;
    }
    .bot_footer {
        padding: 5px 20px;
    }
}

/* Icones */
.icon {
    color: green;
    margin-right: 0.5rem;
}

/* Fleche */
.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    display: none; 
    z-index: 2;
}
.back-to-top:hover {
    background-color: rgba(0, 128, 0, 0.627);
}






div#comparison { 
    flex: 1.2;
    width: 100%;
    height: 30vw;
    max-width: 600px;
    max-height: 600px;
    min-height: 300px;
    overflow: hidden; 
    border-radius: 10px;
}
  div#comparison figure { 
    background-image: url(./assets/images/clefapres.webp); 
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%; 
    height: 100%;
    margin: 0; 
  }
  div#comparison figure > img { 
    position: relative;
    width: 100%;
  }
  div#comparison figure div { 
    background-image: url(./assets/images/clefavant.webp);
    background-size: cover;
    position: absolute;
    width: 50%; 
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
  }
  
  input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -2%;
    background-color: rgba(255,255,255,0.1);
    width: 102%; 
  }
  input[type=range]:focus { 
    outline: none; 
  }
  input[type=range]:active { 
    outline: none;  
  }
  
  input[type=range]::-moz-range-track { 
    -moz-appearance:none;
      height:15px;
      width: 98%;
      background-color: rgba(255,255,255,0.1); 
      position: relative;
      outline: none;    
   }
  input[type=range]::active { 
    border: none; 
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance:none;
      width: 20px; height: 15px;   
      background: #fff; 
      border-radius: 0;
     }
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
       }   
  input[type=range]:focus::-webkit-slider-thumb {
      background: rgba(255,255,255,0.5);
     }
  input[type=range]:focus::-moz-range-thumb {
      background: rgba(255,255,255,0.5);
     }
  
     @media (max-width: 768px) {
        div#comparison { 
            height: 50vw; /* Augmenter la hauteur spécifiquement pour les petits écrans */
            max-height: none; /* Supprimer la contrainte de hauteur max pour les petits écrans */
        }
    }