* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
    height: 6rem;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

#navigation_links {
    display: flex;
    flex-direction: row;
    list-style : none;
    margin-left: auto;
}

#navigation_links a {
    margin-right: 2rem;
    color: black;
}

#navigation_links a:hover {
    color: rgb(0, 149, 0);
    transition: color 0.3s ease;
}

.phone_number {
    pointer-events: none;
}

.brand_name img {
    max-height: 100%; 
    height: 60px; 
    object-fit: contain; 
}

.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.divider {
    margin-right: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}



/* Main */

main {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.contact_text {
    flex: 1;
}

.contact_text h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 60vh;
}

.contact_zone {
    margin: 2rem 0;
}

.contact_email {
    margin: 2rem 0;
}

.bold {
    font-weight: bold;
}

/* Formulaire */

.form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.form-row{
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0.6rem 2rem;
}

.form-group input{
    border: none;
    padding: 8px;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.form-group textarea{
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgb(198, 198, 198);
    height: 80px;
    resize: none;

}

.form-group input:focus, .form-group textarea:focus{
    outline:none;
}

.form-container button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover{
    background-color: rgba(0, 149, 0, 0.844);
}


/* Footer */

/* Mentions légales */

.footer_mentions {
    display: flex;
    justify-content: space-between;
}

.footer_mentions li {
    list-style: none; 
}


.footer_mentions a{
    color: white; 
    text-decoration: none; 
    list-style: none;
    margin: 1px 0;
}

.footer_mentions a:hover {
    color: green;
    transition: color 0.4s ease;
}


/* Bot */

.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    padding : 10px 40px;
}


/* Map */

#map {
    margin-top: 5rem;
    height: 300px; 
    width: 100%;  
    border-radius: 5px;
}

/* Icones */

.icon {
    color: green
}