@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
    height: 6rem;
    position: relative; /* Nécessaire pour que le z-index fonctionne correctement */
    z-index: 1; /* Assurez-vous que l'en-tête reste au-dessus du contenu */
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1; /* Assurez-vous que la barre de navigation reste au-dessus du menu */

}

#navigation_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
}

#navigation_links a {
    margin-right: 2rem;
    color: black;
}

#navigation_links a:hover {
    color: rgb(0, 149, 0);
    transition: color 0.3s ease;
}

.phone_number {
    pointer-events: none;
}

.brand_name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.brand_name img {
    max-height: 100%; 
    height: 60px; 
    object-fit: contain; 
}

.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.divider {
    margin-right: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}

/* Styles pour le menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
    .burger-menu{
        display: flex;
    }

    .divider {
        display: none;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; /* Utiliser toute la largeur de l'en-tête */
        margin: 0;
        position: relative;
        z-index: 1;
    }

    #navigation_links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        position: absolute; /* Utilisez fixed pour coller au haut du viewport */
        top: 6rem; /* Collé au haut */
        left: 0; /* Collé à gauche */
        width: 100%; /* Prend toute la largeur */
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-10px); 
        transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease; 
        z-index: 1000; 
    }

    #navigation_links a {
        margin-bottom: 1rem;
    }

    #navbar.active #navigation_links {
        opacity: 1;
        max-height: 50vh; 
    }

    .burger-menu.active div {
        background-color: green;
    }

    .brand_name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1025px) {
    .brand_name {
        position: static;
        transform: none;
    }
}



/* Main */

main {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 80%;
    margin: auto;
    padding: 6rem 0;
}

.contact_text {
    flex: 1;
}

.contact_text h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 60vh;
}

.contact_zone {
    margin: 2rem 0;
}

.contact_email {
    margin: 2rem 0;
}

.bold {
    font-weight: bold;
}

/* Formulaire */

.form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.form-row{
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0.6rem 2rem;
}

.form-group input{
    border: none;
    padding: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.form-group textarea{
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 80px;
    resize: none;

}

.form-group input:focus, .form-group textarea:focus{
    outline:none;
}

.form-container button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover{
    background-color: rgba(0, 149, 0, 0.844);
}


/* Footer */

/* Mentions légales */

.footer_mentions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_mentions li {
    list-style: none; 
}


.footer_mentions a{
    color: white; 
    text-decoration: none; 
    list-style: none;
    margin: 1px 0;
}

.footer_mentions a:hover {
    color: green;
    transition: color 0.4s ease;
}


/* Bot */

.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    padding : 10px 40px;
}


/* Map */

#map {
    margin-top: 5rem;
    height: 300px; 
    width: 100%;  
    border-radius: 5px;
}

/* Icones */

.icon {
    color: green
}


/* Responsive adjustments for smartphones (768px and below) */
@media (max-width: 1024px) {

    main {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .contact_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
        width: 90%;
        margin-top: 2rem;
    }

    .contact_text h1 {
        font-size: 1.6rem;
    }

    .contact_zone {
        margin: 1rem 0;
    }

    .contact_email, .contact_adress, .contact_phone {
        margin: 1rem 0;
    }

    .form-container {
        flex-direction: column;
        width: 80%;
        margin-bottom: 2rem;
    }

    .form-row {
        flex-direction: column;
        width: 100%;
    }

    .form-group {
        margin: 0.5rem 0;
    }


    .form-container button {
        width: 80%;
        margin-top: 1rem;
    }

    #map {
        display: none;
    }

    .footer_mentions {
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }

    .footer_mentions li {
        margin: 0.2rem 0;
    }
}


/* Style général pour les notifications */
#notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.success {
    background-color: #28a745; /* Vert pour succès */
}

.notification.error {
    background-color: #dc3545; /* Rouge pour erreur */
}