* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* Header */

header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
    height: 6rem;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

#navigation_links {
    display: flex;
    flex-direction: row;
    list-style : none;
    margin-left: auto;
}

#navigation_links a {
    margin-right: 2rem;
    color: black;
}

#navigation_links a:hover {
    color: rgb(0, 149, 0);
    transition: color 0.3s ease;
}

.phone_number {
    pointer-events: none;
}

.brand_name img {
    max-height: 100%; /* Limite la hauteur de l'image à celle du conteneur parent */
    height: 60px; /* Vous pouvez ajuster cette valeur pour une hauteur spécifique */
    object-fit: contain; /* Assure que l'image conserve ses proportions */
}

.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.divider {
    margin-right: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}






/* Footer */

/* Top left */
.top_footer {
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 0;
}


.description_footer {
    display: flex;
    flex-direction: column;
}

.description_footer > p{
    margin-left :30px;
    margin-bottom: 15px;
}

.footer_title, .footer_number, .footer_adress{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer_title {
    font-weight: bold;
    display: flex;
    font-size: 1.2rem;
}

.footer_title img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.footer_number img, .footer_adress img {
    min-width: 20px;
    height: 20px;
    margin-right: 2px;
}


/* Mentions légales */

.footer_mentions {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer_mentions li {
    list-style: none;
}

.footer_mentions a{
    color: white; 
    text-decoration: none; 
    list-style: none;
    margin: 1px 0;
}

.footer_mentions a:hover {
    color: green;
    transition: color 0.4s ease;
}


/* Bot */

.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 40px
}


/* Map */

#map {
    height: 28vh; 
    width: 60vh;  
    border-radius: 5px;
}

/* Icones */

.icon {
    color: green;
    margin-right: 0.5rem;
}

/* Fleche */

.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;

    display: none; 
}
.back-to-top:hover {
    background-color: rgba(0, 128, 0, 0.627);
}