* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
    height: 6rem;
    position: relative; /* Nécessaire pour que le z-index fonctionne correctement */
    z-index: 1; /* Assurez-vous que l'en-tête reste au-dessus du contenu */
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1; /* Assurez-vous que la barre de navigation reste au-dessus du menu */

}

#navigation_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
}

#navigation_links a {
    margin-right: 2rem;
    color: black;
}

#navigation_links a:hover {
    color: rgb(0, 149, 0);
    transition: color 0.3s ease;
}

.phone_number {
    pointer-events: none;
}

.brand_name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.brand_name img {
    max-height: 100%; 
    height: 60px; 
    object-fit: contain; 
}

.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.divider {
    margin-right: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}

/* Styles pour le menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
    .burger-menu{
        display: flex;
    }

    .divider {
        display: none;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; /* Utiliser toute la largeur de l'en-tête */
        margin: 0;
        position: relative;
        z-index: 1;
    }

    #navigation_links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        position: absolute; /* Utilisez fixed pour coller au haut du viewport */
        top: 6rem; /* Collé au haut */
        left: 0; /* Collé à gauche */
        width: 100%; /* Prend toute la largeur */
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-10px); /* Position initiale légèrement au-dessus */
        transition: max-height 0.7s ease, opacity 0.7s ease, transform 0.7s ease; /* Animation fluide */
        z-index: 1000; /* Assurez-vous que le menu est au-dessus du contenu */
    }

    #navigation_links a {
        margin-bottom: 1rem;
    }

    #navbar.active #navigation_links {
        opacity: 1;
        max-height: 50vh; 
    }

    /* Changement de couleur du burger menu quand le menu est ouvert */
    .burger-menu.active div {
        background-color: green;
    }

    /* Centrage du logo */
    .brand_name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1025px) {
    .brand_name {
        position: static;
        transform: none;
    }
}








/* Main */


main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section_info {
    padding: 6rem 0;
    margin: auto;
    width: 80%;
    line-height: 1.7rem;
}

.section_info h1 {
    margin-bottom: 3rem;
}




.contact_info {
    background-color: rgb(213, 213, 213);
    color: white;
}

.contact_info h1 {
    margin: 3rem 0;
}

.contact_info button {
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 40vh;
    padding : 0.8rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.6s ease;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.contact_info button:hover{
    background-color: green;
    color: white;
}















/* Footer */

/* Top left */
.top_footer {
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 4rem;
}


.description_footer {
    display: flex;
    flex-direction: column;
}

.description_footer > p{
    margin-left :30px;
    margin-bottom: 15px;
}

.footer_title, .footer_number, .footer_adress{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer_title {
    font-weight: bold;
    display: flex;
    font-size: 1.2rem;
}

.footer_title img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.footer_number img, .footer_adress img {
    min-width: 20px;
    height: 20px;
    margin-right: 2px;
}


/* Mentions légales */

.footer_mentions {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer_mentions li {
    list-style: none;
}

.footer_mentions a{
    color: white; 
    text-decoration: none; 
    list-style: none;
    margin: 1px 0;
}

.footer_mentions a:hover {
    color: green;
    transition: color 0.4s ease;
}


/* Bot */

.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 4.4rem;
}

#map {
    height: 28vh; 
    width: 60vh;  
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .top_footer, .bot_footer {
        flex-direction: column; 
        padding: 1rem;
    }

    .description_footer {
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }


    #map {
        width: 100%; 
    }

    .footer_mentions {
        align-items: center;
        margin-left: 0;
    }
}



/* Icones */

.icon {
    color: green;
    margin-right: 0.5rem;
}

/* Fleche */

.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    display: none; 
}
.back-to-top:hover {
    background-color: rgba(0, 128, 0, 0.627);
}

@media (max-width: 1024px) {
    .back-to-top {
        display: none !important; 
    }
}


