@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
    height: 6rem;
    position: relative; 
    z-index: 1;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1; 

}
#navigation_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
}
#navigation_links a {
    margin-right: 2rem;
    color: black;
}
#navigation_links a:hover {
    color: rgb(0, 149, 0);
    transition: color 0.3s ease;
}
.phone_number {
    pointer-events: none;
}
.brand_name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.brand_name img {
    max-height: 100%; 
    height: 80px; 
    object-fit: contain; 
}
.nav_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.divider {
    margin-right: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem;
}
.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: background-color 0.3s ease;
}
.job_link{
    color: green !important;
}

@media (max-width: 1024px) {
    .burger-menu{
        display: flex;
    }
    .divider {
        display: none;
    }
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
        margin: 0;
        position: relative;
    }
    #navigation_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 500;
        background-color: white;
        position: absolute; 
        top: 4rem; 
        left: 0; 
        width: 100%; 
        height: 100vh;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-10px); 
        transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease; 
        z-index: 3000; 
        padding-top: 4rem;
    }
    #navigation_links a {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    #navbar.active #navigation_links {
        opacity: 1;
        max-height: 100vh; 
    }
    .burger-menu.active div {
        background-color: green;
    }
    .brand_name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    body.menu-active {
        overflow: hidden; 
    }
}
@media (min-width: 1024px) {
    .brand_name {
        position: static;
        transform: none;
    }
    body.menu-active {
        overflow: auto;
    }
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section_info {
    padding: 4rem 0;
    margin: auto;
    width: 80%;
    line-height: 1.7rem;
}
.section_info h1 {
    margin-bottom: 3rem;
}
.contact_info {
    margin-top: 2rem;
    background-color: rgb(96, 96, 96);
    color: white;
}
.contact_info h1 {
    margin: 3rem 0;
}
.contact_info button {
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 40vh;
    padding : 0.8rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.6s ease;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}
.contact_info button:hover{
    background-color: green;
    color: white;
}

@media (max-width: 1024px) {
    .contact_info h1{
        font-size: 1.4rem;
    }
    .contact_info button {
        font-size: 0.9rem;
        padding: 5px 10px;
        width: 60%;
    }
}

/* Footer */
/* Top left */
.top_footer {
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 4rem;
}
.description_footer {
    display: flex;
    flex-direction: column;
}
.description_footer > p{
    margin-left :30px;
    margin-bottom: 15px;
}
.footer_title, .footer_number, .footer_adress{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.footer_title {
    font-weight: bold;
    display: flex;
    font-size: 1.2rem;
}
.footer_title img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.footer_number img, .footer_adress img {
    min-width: 20px;
    height: 20px;
    margin-right: 2px;
}

/* Mentions légales */
.footer_mentions {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.footer_mentions li {
    list-style: none;
}
.footer_mentions a{
    color: white; 
    text-decoration: none; 
    list-style: none;
    margin: 1px 0;
}
.footer_mentions a:hover {
    color: green;
    transition: color 0.4s ease;
}

/* Bot */
.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding : 10px 4.4rem;
}
#map {
    height: 28vh; 
    width: 60vh;  
    border-radius: 5px;
}
@media (max-width: 1024px) {
    .top_footer, .bot_footer {
        flex-direction: column; 
        padding: 1rem;
    }
    .description_footer{
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 0.8rem;
    }
    .description_footer > p{
        margin-left : 0px;
    }
    #map {
        width: 100%; 
    }
    .footer_mentions {
        align-items: center;
        margin-left: 0;
    }
    .bot_footer {
        padding: 5px 20px;
    }
    .footer_title, .footer_number, .footer_adress{
        margin-left: -1.8rem;
    }
}

/* Icones */
.icon {
    color: green;
    margin-right: 0.5rem;
}
/* Fleche */
.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    display: none; 
}
.back-to-top:hover {
    background-color: rgba(0, 128, 0, 0.627);
}




  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
        transform-style: preserve-3d;
        perspective: 1000px;
  }
  
  .front, .back{
    background-size: cover;
    background-position: center;
    transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 400px;
    height: auto;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .back{
    background: linear-gradient(45deg,  rgb(179, 202, 163) 0%,green 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
  }
  
  .container .back{
        transform: rotateY(180deg);
  }
  .hover .container:hover .back {
    transform: rotateY(0deg);
}
  
  .container .front{
        transform: rotateY(0deg);
  }
  .hover .container:hover .front {
    transform: rotateY(-180deg);
}

  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  .back .inner p {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 4px;
    position: absolute;
    background: #ffffff;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }

  .clicked .front {
    transform: rotateY(-180deg);
}

.clicked .back {
    transform: rotateY(0deg);
}
  
  @media screen and (max-width: 64rem){
    .front::after {
        background: rgba(0, 0, 0, 0.6);
    }
    .col{
      width: calc(33.333333% - 2rem);
    }
    .back .inner p {
        font-size: 1.1rem;
        font-weight: bold;
      }
  }
  
  @media screen and (max-width: 48rem){
    .front, .back{
        min-height: 200px;
    }
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }